input[type="file"] {
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.mat-mdc-button:not(:disabled) {
  background-color: #994b00 !important;
  border-radius: 12px;
  width: 170px;
}
