<div *ngIf="!loading" class="static flex h-screen flex-col bg-transparent overflow-auto">
  <app-button class="absolute top-0 left-0" [label]="'MENU'" (press)="openMenu()"></app-button>
  <app-menu *ngIf="showMenu"></app-menu>
  <div class="w-full flex flex-col justify-center items-center mt-10">
    <h1 class="font-montserrat-bold text-6xl text-accent-dark mt-6">Profile!</h1>
  </div>
  <div *ngIf="!showMenu" class="ml-8 absolute top-32 left-10">
    <div class="custom-file-upload">
      <label for="fileInputProfile">Choose Files</label>
      <input id="fileInputProfile" type="file" name="image" (change)="onFileSelected($event)" accept="image/*" multiple/>
    </div>
    <div *ngIf="fileList.length > 0" class="mb-8">
      <h4 class="font-montserrat-bold text-xl text-accent-dark mt-6">Selected Images:</h4>
      <ul>
        <li *ngFor="let file of previewFiles">
          <img *ngIf="file" [src]="file" alt="Image Preview" width="150" height="150" />
        </li>
      </ul>
    </div>
    <app-button *ngIf="showUpload" class="mat-mdc-button" [label]="'Upload'" (press)="uploadFiles()"></app-button>
  </div>
  <div *ngFor="let image of safeImages" class="flex justify-center">
    <img [src]="image" alt="Image" width="250" height="250"/>
  </div>
</div>

