<div class="w-full h-screen bg-white flex justify-center flex-col items-center">
  <app-button class="absolute top-0 left-0" [label]="'MENU'" (press)="openMenu()"></app-button>
  <app-menu *ngIf="showMenu"></app-menu>
  <div class="flex w-[70%] h-[85%] ml-20 mt-20 rounded-lg bg-secondary bg-opacity-25 justify-center items-center">
    <div class="w-[50%] h-full flex justify-center mr-10">
      <img src="/assets/images/sign-up.jpg" alt="image" class="rounded-l-lg">
    </div>
    <div class="mt-4 w-[50%] flex flex-col justify-center overflow-auto hide">
      <h1 class="font-montserrat-bold text-8xl text-accent-dark mt-6">Log in</h1>
      <div class="h-[70%] grid grid-cols-1 grid-flow-row mt-8">
        <form [formGroup]="loginForm">
          <input [placeholder]="'Email'" name="email" formControlName="email">
          <input [placeholder]="'Password'" name="password" formControlName="password">
        </form>
      </div>
      <div class="w-[80%] flex justify-between mt-6">
        <app-button [label]="'Log in'" (press)="goToHomePage()" class="mat-mdc-button"></app-button>
      </div>
      <div class="w-[80%] flex justify-between flex-col mt-8">
        <p class="font-montserrat-bold text-l text-accent-dark mt-6">Don't have an account?</p>
        <app-button [label]="'Go to sign-up'" (press)="goToSignUp()" class="mat-mdc-button"></app-button>
      </div>
    </div>
  </div>
</div>
