@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'montserrat';
  src: url('src/assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'montserrat-bold';
  src: url('src/assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'montserrat-light';
  src: url('src/assets/fonts/Montserrat/Montserrat-Light.ttf');
}

